<div class="py-10">
    <div class="flex justify-center">
        <table class="w-4/6 bg-white shadow-md rounded-lg">
            <thead>
                <tr class="bg-gray-800 text-white text-left text-sm uppercase font-semibold tracking-wider">
                    <th class="px-4 py-3">S. No</th>
                    <th class="px-4 py-3">Username</th>
                    <th class="px-4 py-3">Email</th>
                    <th class="px-4 py-3">Actions</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                <tr *ngFor="let user of users; let i = index" class="bg-gray-50 hover:bg-gray-100 transition-colors">
                    <td class="px-4 py-3 text-sm text-gray-700">{{ i + 1 }}</td>
                    <td class="px-4 py-3 text-sm text-gray-700">{{ user.username }}</td>
                    <td class="px-4 py-3 text-sm text-gray-700">{{ user.email }}</td>
                    <td class="px-4 py-3">
                        <button (click)="deleteUser(user._id)" class="bg-red-500 hover:bg-red-600 text-white font-semibold py-1 px-3 rounded-md transition duration-300 ease-in-out">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
