<nav class="bg-black p-5 w-full text-white">
    <div class="flex flex-row justify-between">
        <h1 class="text-lg font-semibold">Admin - Portal</h1>
        <div class="w-1/3">
            <ul class="flex flex-row justify-evenly">
                <li><a routerLink="/admin/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
                <li><a routerLink="/admin/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a></li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>